---
import styles from './testimonialCard.module.css';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface TestimonialCardProps {
  text: string;
  author: string;
  event: string;
  image: ImageMetadata;
}

const { text, author, event, image } = Astro.props as TestimonialCardProps;
---

<div class={styles['testimonial-card']}>
  <div class={styles['testimonial-text']}>
    <p>{text}</p>
  </div>
  <div class={styles['testimonial-author']}>
    <Image src={image} alt={`Foto de ${author}`} width={75} height={75} />
    <div>
      <strong>{author}</strong>
      <p>{event}</p>
    </div>
  </div>
</div>
